{
    "environment": "prod",
    "parameters": {
        "db": {
            "driver": "pdo_mysql",
            "host": "localhost",
            "name": "tvguide",
            "user": "root",
            "password": ""
        },
        "tvscraper": {
            "proxy": "tcp://5.135.78.84:8888"
        },
        "uri": {
            "programs": "http://localhost/marc/tvguide/images/programs",
            "channels": "http://localhost/marc/tvguide/images/channels"
        }
    }
}
