{
    "environment": "prod",
    "parameters": {
        "db": {
            "driver": "pdo_mysql",
            "host": "localhost",
            "name": "tvguide",
            "user": "root",
            "password": ""
        },
        "images": {
            "baseUri": "%uri%/images",
            "directory": "%root%/web/images"
        },
        "uri": {
            "programs": "http://localhost/marc/tvguide/images/programs",
            "channels": "http://localhost/marc/tvguide/images/channels"
        }
    }
}
